<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a7567_770114gl.taskcalendar_lc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyTaskCalendar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Task Calendar">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewTaskActivity"
            android:label="@string/input_task_name_title"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action
                    android:name="com.example.a7567_770114gl.taskcalendar_lc.TASK_NOTI"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ListActivity"
            android:label="@string/task_list_title"
            android:parentActivityName=".MainActivity" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".NotificationIntentService"
            android:exported="false" />

        <activity
            android:name=".ShowInfo"
            android:parentActivityName=".ListActivity"/>

    </application>

</manifest>